.wrap{
    min-width: 1200px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.slide{
    opacity: 0;
    position: absolute;
    height: 92vh;
    width:100%;
}
.show{
    opacity: 1;
}
.navigat__btn{
    display: none;
}
.header__navbar{
    background-color:#181818;
    color:#FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}
.conteiner__menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 3;
}
.menu__items{
    list-style-type: none;
    padding: 0 15px;
}
.navbar__conteiner {
    min-width: 650px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu__content{
    text-decoration:none;
    color: #FFFFFF;
    line-height: 20px;
    font-size: 15px;
}
.menu__link{
    flex: 1;
    text-align: center;
    background: #FFFFFF;
    padding: 10px 5px;
    border-radius: 14px;
    text-decoration:none;
    color:#000000;
    font-size: 16px;
    font-weight:600;
    line-height: 20px;
    letter-spacing: 0.4px;
}
.menu__link:hover{
    transform:scale(1.2);
    transition-duration: 1s;
}
.studio__discription{
    position: relative;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-end;
    color: #FFFFFF;
    padding-bottom: 14px;

}
.slider-photo{
    position: relative;
}
.studio__slogan{
    color:#C0C0C0;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: 2px;
}
.studio__title{
    font-size: 54px;
    font-weight: 400;
    line-height: 60px;
}
.studio__text__hidden{
    display: none;
}
.studio__text{
    color:#C0C0C0;
    font-size: 14px;
    line-height: 20px;
    padding-top: 12px;
    padding-bottom: 25px;
    text-align: center;
    max-width: 560px;
    width: 100%;
}
.photo__icons{
    position: absolute;
    right:12px;
    bottom: 12px;
}
.icons__text{
    line-height: 12px;
    font-size: 12px;
    padding-right:12px;
    color: #FFFFFF;
}
/*main part*/
.our-work{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: #000000;
}
.our-work__title{
    padding-top: 2em;
    font-size: 40px;
    line-height: 45px;
}
.our-work__description{
    color: #C0C0C0;
    font-size: 23px;
    line-height: 30px;
    padding-top: 10px;
}
.our-work__galary{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 10px;
    gap:25px;
    justify-content: center;
    align-items: center;
}
/*block photo*/
.galary__conteiner{
    flex:1;

}
.galary__conteiner:hover{
    transform:scale(1.05);
    transition-duration: 1s;
}
.conteiner__img{
    position: relative;
    display: flex;
    align-items: flex-end;
}
.img__description{
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    color:#FFFFFF;
    padding: 15px;
    max-width: 480px;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
}
.description__title{
    letter-spacing: 2px;
    padding-bottom:14px;
}
.description__text{
    padding-bottom: 20px;
    color: #C0C0C0;
}
/*button*/
.buttom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    background:#FFFFFF;
    color: #000000;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    padding: 0.5em;
    max-width: 120px;
    height:25px;
    width: 100%;
    border-radius: 14px;
}
.buttom::before{
    content: " ";
    display: inline-block;
    width: 32px;
    height: 32px;
    background: #000000;
    border-radius: 14px;
}
.buttom:hover.buttom::before {
    width:120px;
    height: 37px;
    position:absolute;
    content:"Read more";
    text-align: center;
    box-sizing: border-box; 
    padding-top: 10px;
    color:#FFFFFF;
}
.buttom:hover.get::before{
      content:"Get in touch";
}
.buttom:hover.check::before{
      content:"Check it out";
}
.buttom:hover{
    position: relative;
    transition: 1s;
}
/*sunset and Monstera*/
.section__bg{
    padding: 2em;
    height: 75vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    line-height: 20px;
    font-size: 15px;
}
.Himalayas{
    background: url("../image/Himalayas.png")no-repeat center/cover;
}
.Monstera{
    background: url("../image/Monstera.png")no-repeat center/cover;
}
.sunset{
    background: url('../image/sunset.png') center/cover;
    background-attachment: fixed;
}
.bg__title{
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.bg__description{
    max-width: 300px;
    width: 100%;
    padding-top: 10px;
    color:#C0C0C0;
}
/*tools*/
.section__tools{
    display: flex;
}
.decription__tools{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
    background: #000000;
    flex-basis: 40%;
}
.tools__title{
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
}
.tools__text{
    color:#FFFFFF;
    text-align: start;
    line-height: 22px;
    padding-bottom: 20px;
}
.tools__photo{
    height: 65vh;
    background: url("../image/tools.png")no-repeat center/cover;
    flex-basis: 60%;
    position: relative;
}
/*clients*/
.clients{
    background: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.clients__slogan{
    text-align: center;
    padding: 100px 0;
    color: #FFFFFF;
}
.slogan__title{
    font-size: 40px;
    line-height: 42px;
    padding-bottom: 1em;
}
.slogan__description{
    font-size: 24px;
    line-height: 30px;
    color:#C0C0C0;
}
.clients__logo{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*need-help*/
.section__help{
    color: #FFFFFF;
    background: #000000;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.help__title{
    text-align: center;
    font-size: 40px;
    line-height: 42px;
    max-width: 570px;
    padding-bottom: 20px;
}
.help__description{
    color:#C0C0C0;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 20px;
}
/*footer*/
.part__footer{
    background: #000000;
}
.footer__navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
    color: #FFFFFF;
    height: 40vh;
}

.navbar__description{
    font-size: 13px;
    color:#C0C0C0;
    line-height: 20px;
}

.styles{
    padding-bottom: 1em;
    color:#C0C0C0;
    letter-spacing: 2px;
    line-height: 20px;
    text-transform: uppercase;
}
.page__items,.areas__items{
    line-height: 40px;
    text-decoration: none;
    color: #FFFFFF;
}
.section__subscribe{
    padding-top: 2em;
    color: #FFFFFF;
    height: 15vh;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
}
.subscribe__slogan{
    padding-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.subscribe__description{
    color: #C0C0C0;
    line-height: 20px;
    font-size: 13px;
}
.subscribe__link{
    display: flex;
    text-decoration: none;
    justify-content: flex-end;
    align-items: center;
    background: #FFFFFF;
    flex-basis: 30%;
    height: 5vh;
    border-radius: 12px;
}
.subscribe__link::after{
    content: "SUBSCRIBE";
    color:#FFFFFF;
 
    background: #000000;
    padding: 5px 30px;
    margin-right: 10px;
    border-radius: 12px;
}
.subscribe__link:hover.subscribe__link::after{
    padding: 5px 120px;
}
.copywriting{
    color:#C0C0C0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
